.create {
  background-color: rgb(30, 30, 30);
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}


.create__title{
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__description {
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create__price {
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 25%;
  font-weight: 700;
}

input {
  width: 25%;
  height: 2em;
  border-radius: 10px;
  margin-left: 1em;
}

button {
  width: 5em;
  height: 2em;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 1em;
}

.create__genres {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.genre__item {
  background-color: dodgerblue;
  padding: 0.3em;
  border-radius: 10px;
  margin-left: 0.3em;
}

.genres__allExisted, .genres__toAdd {
  margin: 1em auto;
  display: flex;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  font-weight: 700;
}

.alert {
  color: red;
}
