.filter {
  display: flex;
  justify-content: space-between;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 15px 3%;
}

.filter__genre {
  padding: 5px;
  border-radius: 10px;
}

.filter__genre:hover {
  background-color: #36454F;
}

.displayGenres {
  display: grid;
}
