<div class="wrapper">
  <div class="comment">
    <div class="comment__user-name">
      <span><img src="assets/icons/person.svg" alt="person">
      <span>{{ currentUserName }}</span>
    </span>
    </div>
    <div class="comment__body">
      <p>"{{ currentComment.body }}"</p>
    </div>
    <div class="comment__reply" (click)="replyComment = !replyComment">
      <p class="reply">Reply</p>
    </div>
    <div class="reply-comment" *ngIf="replyComment">
      <app-create-comment [parentId]="currentComment.id"></app-create-comment>
    </div>
  </div>
  <div class="reply-comment" *ngFor="let comment of commentReplies">
    <app-comment [currentComment]="comment" [replies]="getCommentReplies(comment)"></app-comment>
  </div>
</div>
