<div class="login" (click)="onCloseLogin()">
  <div class="login__form" appStopPropagation>
    <h2>Please login</h2>
    <form #form="ngForm" (ngSubmit)="onLogin()">
      <div>
        <label for="username">Username</label>
        <input #username="ngModel"
               id="username"
               type="text"
               [(ngModel)]="loginModel.email"
               name="username">
      </div>
      <div class="registration__password">
        <label for="password">Password</label>
        <input #password="ngModel"
               required
               minlength="8"
               id="password"
               type="password"
               [(ngModel)]="loginModel.password"
               name="password">
      </div>
      <p *ngIf="password.touched && password.errors?.['required']" class="alert">Password can't be empty</p>
      <p *ngIf="password.touched && password.errors?.['minlength']" class="alert">Password can't be less then 8 characters</p>
      <div class="registration__check">
        <input #password="ngModel"
               id="check"
               type="checkbox"
               [(ngModel)]="checkbox"
               name="password">
        <label for="check">Remember me</label>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>
