<div class="order">
  <div class="order__image">
    <img src="assets/icons/search.png" alt="Game Logo">
  </div>
  <div class="order__details">
    <p class="order__title">{{ orderItem.game.title }}</p>
    <p class="order__price">{{ orderItem.game.price | currency }}</p>
  </div>
  <div class="order__edit-amount">
    <div class="order__button">
      <span class="minus" (click)="onRemoveOne()">&#8722;</span>
      <span class="amount">{{ orderItem.amount }}</span>
      <span class="plus" (click)="onAddOne()">+</span>
    </div>
  </div>
  <div class="order__total">
    <p>Total: </p>
    <p>{{ getTotalPrice() | currency}}</p>
  </div>
  <div class="order__delete">
    <p (click)="onDeleteGameFromCart()">&#x2715;</p>
  </div>
</div>
