<div class="confirmation">
  <h2>Completing your order</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="confirmation__first">
      <label for="first">First Name</label>
      <input #first="ngModel"
             required
             id="first"
             type="text"
             [(ngModel)]="order.firstName"
             name="first">
    </div>
    <p *ngIf="first.touched && first.errors?.['required']" class="alert">Description can't be empty</p>
    <p *ngIf="first.errors?.['minlength']" class="alert">Description can't be less then 1</p>
    <div class="confirmation__last">
      <label for="last">Last Name</label>
      <input #last="ngModel"
             required
             id="last"
             type="text"
             [(ngModel)]="order.lastName"
             name="last">
    </div>
    <div class="confirmation__email">
      <label for="email">Email</label>
      <input #email="ngModel"
             required
             id="email"
             type="email"
             [(ngModel)]="order.email"
             name="email">
    </div>
    <div class="confirmation__phone">
      <label for="phone">Phone</label>
      <input #phone="ngModel"
             required
             id="phone"
             type="tel"
             [(ngModel)]="order.phone"
             name="phone">
    </div>
    <div class="confirmation__payment">
      <label for="payment">Payment Type</label>
      <select name="payment" id="payment" [(ngModel)]="order.paymentType" required>
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>
    <div class="confirmation__comments">
      <label for="comments">Comments(optional)</label>
      <textarea #comments="ngModel"
             id="comments"
             [(ngModel)]="order.comment"
                name="comments"></textarea>
    </div>
    <div class="confirmation__button">
      <app-button [type]="'submit'" [nameOfButton]="'Order'"></app-button>
    </div>
  </form>
</div>
